.GalleryImage {
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* the div outside all img components */
.Gallery {
    margin-top: 100px;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}