.Gallery {
    margin-top: 100px;
}

.GalleryImage {
    width: 25%;
    margin: 10px;
    
}

.albumn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.albumnTitle {
    width: 100%;
    text-align: center;
}