.Experience {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: sans-serif;
    width: 100%;
}

.AppContainer{
    background-color: #5FD1DD; 
    color: white;
    padding-top: 80px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

.appTitle {
    font-size: 50px;
}


.AppImage { 
    padding: 20px;
    height: 400px;
}

.listContainer {
    border-radius: 0px 0px 10px 10px;
    margin: 0;
}

.list {
    font: 24px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}

.listItem {
    padding-top: 20px;
}