.Experience {
    text-align: center;
    background-color: #5FD1DD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    width: 100%;
}

.AppContainer{
    width: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px grey;
    text-align: center;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
}

.appTitle {
    font: 30px bold;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    flex: 1 100%;
    padding: 20px;
}


.AppImage { 
    padding: 20px;
    height: 400px;
    flex: 1;
}

.listContainer {
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    flex: 2;
    display: flex;
}

.list {
    font: 24px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}

.listItem {
    padding-top: 20px;
}