.Toolbar {
    background-color: rgba(255, 255, 255, 0.637);
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}